<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.security.mapper.UserDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mall.security.entity.JwtUserDetail">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="status" property="status"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, status
    </sql>

    <!-- 获取商家管理账户 -->
    <select id="getUserByBizUser" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/>, merchant_id
        from u_biz_user where username=#{username} or phone=#{username}
    </select>

    <!-- // TODO: 2020/11/29 1:19  获取平台管理后台的用户 -->
    <select id="getUserByAdminUser" resultMap="BaseResultMap">
        select 1
        from u_biz_user
        where id = -1
    </select>

    <!-- // TODO: 2020/11/29 1:19   获取C端用户 -->
    <select id="getUserByCustomer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from u_biz_user where id=-1
    </select>

</mapper>
