<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mbg.mapper.GcmCategoryAttributeMapper">
  <resultMap id="BaseResultMap" type="com.mall.mbg.model.GcmCategoryAttribute">
    <id column="uid_" jdbcType="BIGINT" property="uid" />
    <result column="category_code_" jdbcType="VARCHAR" property="categoryCode" />
    <result column="code_" jdbcType="VARCHAR" property="code" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="remark_" jdbcType="VARCHAR" property="remark" />
    <result column="app_user_" jdbcType="VARCHAR" property="appUser" />
    <result column="app_date_" jdbcType="TIMESTAMP" property="appDate" />
    <result column="update_user_" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date_" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    uid_, category_code_, code_, name_, remark_, app_user_, app_date_, update_user_, 
    update_date_
  </sql>
  <select id="selectByExample" parameterType="com.mall.mbg.model.GcmCategoryAttributeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gcm_category_attribute
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gcm_category_attribute
    where uid_ = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gcm_category_attribute
    where uid_ = #{uid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mall.mbg.model.GcmCategoryAttributeExample">
    delete from gcm_category_attribute
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mall.mbg.model.GcmCategoryAttribute">
    <selectKey keyProperty="uid" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gcm_category_attribute (category_code_, code_, name_, 
      remark_, app_user_, app_date_, 
      update_user_, update_date_)
    values (#{categoryCode,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{appUser,jdbcType=VARCHAR}, #{appDate,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.mbg.model.GcmCategoryAttribute">
    <selectKey keyProperty="uid" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gcm_category_attribute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryCode != null">
        category_code_,
      </if>
      <if test="code != null">
        code_,
      </if>
      <if test="name != null">
        name_,
      </if>
      <if test="remark != null">
        remark_,
      </if>
      <if test="appUser != null">
        app_user_,
      </if>
      <if test="appDate != null">
        app_date_,
      </if>
      <if test="updateUser != null">
        update_user_,
      </if>
      <if test="updateDate != null">
        update_date_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryCode != null">
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="appUser != null">
        #{appUser,jdbcType=VARCHAR},
      </if>
      <if test="appDate != null">
        #{appDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mall.mbg.model.GcmCategoryAttributeExample" resultType="java.lang.Long">
    select count(*) from gcm_category_attribute
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gcm_category_attribute
    <set>
      <if test="record.uid != null">
        uid_ = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.categoryCode != null">
        category_code_ = #{record.categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code_ = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark_ = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.appUser != null">
        app_user_ = #{record.appUser,jdbcType=VARCHAR},
      </if>
      <if test="record.appDate != null">
        app_date_ = #{record.appDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user_ = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date_ = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gcm_category_attribute
    set uid_ = #{record.uid,jdbcType=BIGINT},
      category_code_ = #{record.categoryCode,jdbcType=VARCHAR},
      code_ = #{record.code,jdbcType=VARCHAR},
      name_ = #{record.name,jdbcType=VARCHAR},
      remark_ = #{record.remark,jdbcType=VARCHAR},
      app_user_ = #{record.appUser,jdbcType=VARCHAR},
      app_date_ = #{record.appDate,jdbcType=TIMESTAMP},
      update_user_ = #{record.updateUser,jdbcType=VARCHAR},
      update_date_ = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.mbg.model.GcmCategoryAttribute">
    update gcm_category_attribute
    <set>
      <if test="categoryCode != null">
        category_code_ = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code_ = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark_ = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="appUser != null">
        app_user_ = #{appUser,jdbcType=VARCHAR},
      </if>
      <if test="appDate != null">
        app_date_ = #{appDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user_ = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date_ = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid_ = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.mbg.model.GcmCategoryAttribute">
    update gcm_category_attribute
    set category_code_ = #{categoryCode,jdbcType=VARCHAR},
      code_ = #{code,jdbcType=VARCHAR},
      name_ = #{name,jdbcType=VARCHAR},
      remark_ = #{remark,jdbcType=VARCHAR},
      app_user_ = #{appUser,jdbcType=VARCHAR},
      app_date_ = #{appDate,jdbcType=TIMESTAMP},
      update_user_ = #{updateUser,jdbcType=VARCHAR},
      update_date_ = #{updateDate,jdbcType=TIMESTAMP}
    where uid_ = #{uid,jdbcType=BIGINT}
  </update>
</mapper>