<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mbg.mapper.GmsGoodsAndEshopMapper">
  <resultMap id="BaseResultMap" type="com.mall.mbg.model.GmsGoodsAndEshop">
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId"/>
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="eshop_type" jdbcType="INTEGER" property="eshopType"/>
    <result column="eshop_name" jdbcType="VARCHAR" property="eshopName"/>
    <result column="eshop_goods_url" jdbcType="VARCHAR" property="eshopGoodsUrl"/>
    <result column="app_user" jdbcType="VARCHAR" property="appUser"/>
    <result column="app_date" jdbcType="TIMESTAMP" property="appDate"/>
    <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, merchant_id, goods_id, status, eshop_type, eshop_name, eshop_goods_url, app_user, 
    app_date, update_user, update_date
  </sql>
  <select id="selectByExample" parameterType="com.mall.mbg.model.GmsGoodsAndEshopExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from gms_goods_and_eshop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from gms_goods_and_eshop
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete
    from gms_goods_and_eshop
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mall.mbg.model.GmsGoodsAndEshopExample">
    delete from gms_goods_and_eshop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.mall.mbg.model.GmsGoodsAndEshop">
    insert into gms_goods_and_eshop (id, merchant_id, goods_id,
                                     status, eshop_type, eshop_name,
                                     eshop_goods_url, app_user, app_date,
                                     update_user, update_date)
    values (#{id,jdbcType=VARCHAR}, #{merchantId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR},
            #{status,jdbcType=INTEGER}, #{eshopType,jdbcType=INTEGER}, #{eshopName,jdbcType=VARCHAR},
            #{eshopGoodsUrl,jdbcType=VARCHAR}, #{appUser,jdbcType=VARCHAR}, #{appDate,jdbcType=TIMESTAMP},
            #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.mbg.model.GmsGoodsAndEshop">
    insert into gms_goods_and_eshop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="eshopType != null">
        eshop_type,
      </if>
      <if test="eshopName != null">
        eshop_name,
      </if>
      <if test="eshopGoodsUrl != null">
        eshop_goods_url,
      </if>
      <if test="appUser != null">
        app_user,
      </if>
      <if test="appDate != null">
        app_date,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="eshopType != null">
        #{eshopType,jdbcType=INTEGER},
      </if>
      <if test="eshopName != null">
        #{eshopName,jdbcType=VARCHAR},
      </if>
      <if test="eshopGoodsUrl != null">
        #{eshopGoodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="appUser != null">
        #{appUser,jdbcType=VARCHAR},
      </if>
      <if test="appDate != null">
        #{appDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mall.mbg.model.GmsGoodsAndEshopExample" resultType="java.lang.Long">
    select count(*) from gms_goods_and_eshop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gms_goods_and_eshop
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantId != null">
        merchant_id = #{record.merchantId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.eshopType != null">
        eshop_type = #{record.eshopType,jdbcType=INTEGER},
      </if>
      <if test="record.eshopName != null">
        eshop_name = #{record.eshopName,jdbcType=VARCHAR},
      </if>
      <if test="record.eshopGoodsUrl != null">
        eshop_goods_url = #{record.eshopGoodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.appUser != null">
        app_user = #{record.appUser,jdbcType=VARCHAR},
      </if>
      <if test="record.appDate != null">
        app_date = #{record.appDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gms_goods_and_eshop
    set id = #{record.id,jdbcType=VARCHAR},
    merchant_id = #{record.merchantId,jdbcType=VARCHAR},
    goods_id = #{record.goodsId,jdbcType=VARCHAR},
    status = #{record.status,jdbcType=INTEGER},
    eshop_type = #{record.eshopType,jdbcType=INTEGER},
    eshop_name = #{record.eshopName,jdbcType=VARCHAR},
    eshop_goods_url = #{record.eshopGoodsUrl,jdbcType=VARCHAR},
    app_user = #{record.appUser,jdbcType=VARCHAR},
    app_date = #{record.appDate,jdbcType=TIMESTAMP},
    update_user = #{record.updateUser,jdbcType=VARCHAR},
    update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.mbg.model.GmsGoodsAndEshop">
    update gms_goods_and_eshop
    <set>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="eshopType != null">
        eshop_type = #{eshopType,jdbcType=INTEGER},
      </if>
      <if test="eshopName != null">
        eshop_name = #{eshopName,jdbcType=VARCHAR},
      </if>
      <if test="eshopGoodsUrl != null">
        eshop_goods_url = #{eshopGoodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="appUser != null">
        app_user = #{appUser,jdbcType=VARCHAR},
      </if>
      <if test="appDate != null">
        app_date = #{appDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.mbg.model.GmsGoodsAndEshop">
    update gms_goods_and_eshop
    set merchant_id     = #{merchantId,jdbcType=VARCHAR},
        goods_id        = #{goodsId,jdbcType=VARCHAR},
        status          = #{status,jdbcType=INTEGER},
        eshop_type      = #{eshopType,jdbcType=INTEGER},
        eshop_name      = #{eshopName,jdbcType=VARCHAR},
        eshop_goods_url = #{eshopGoodsUrl,jdbcType=VARCHAR},
        app_user        = #{appUser,jdbcType=VARCHAR},
        app_date        = #{appDate,jdbcType=TIMESTAMP},
        update_user     = #{updateUser,jdbcType=VARCHAR},
        update_date     = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>