html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
	background: #f5f5f5;
}

ul {
	margin: 0;
}

li {
	list-style: none;
}

a:link {
	text-decoration: none;
	color: #0f6cb4;
}

a:visited {
	text-decoration: none;
	color: #2884cc;
}

.clear::after {
	content: " ";
	clear: both;
	display: block;
}

i {
	font-style: normal;
}

.gray {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	opacity: 1;
}
